@import "../../assets/styles/variables.scss";

@font-face {
  font-family: "vag-rounded-std-bold";
  src: url("../../assets/fonts/VAGRoundedStd-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: tahoma-bold;
  src: url("../../assets/fonts/ofont.ru_Tahoma.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footerBg {
  width: 100%;
  min-height: 500px;
  background-image: url(../../assets/images/Footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: right;
  background-position-y: top;
  padding-right: 1px;
  padding-top: 190px;
  position: absolute;


  
}

.follow img {
  width: 14%;
}

.follow img:hover {
  cursor: pointer;
}

.footerBg h3 {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.footerBg li {
  color: #ffffff;
  font-size: 14px;
  list-style: none;
  margin-top: 20px;
  font-family: sans-serif;
}

.footerBg li:hover {
  cursor: pointer;
}

.footerBg ul {
  padding: 0;
}



@media only screen and (max-width: 1025.2px) {
  .footerBg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerBg>div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footerBg>div>ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .follow{
    display: flex;
    flex-direction: row !important;
  }
}
