@import "../../assets/styles/variables.scss";

@font-face {
  font-family: "vag-rounded-std-bold";
  src: url("../../assets/fonts/VAGRoundedStd-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: tahoma-bold;
  src: url("../../assets/fonts/ofont.ru_Tahoma.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.footerBg {
  width: 100%;
  height: 500px;
  background-image: url(../../assets/images/Footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: right;
  background-position-y: top;
  padding-right: 1px;
}

.follow > img {
  width: 14%;
}

.footerBg h3 {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
