@import "../../assets/styles/variables.scss";

@font-face {
  font-family: "vag-rounded-std-bold";
  src: url("../../assets/fonts/VAGRoundedStd-Bold.otf") format("truetype");
}

@font-face {
  font-family: meka;
  src: url("../../assets/fonts/BrabionU-Medium.ttf") format("truetype");
}

@font-face {
  font-family: tahoma-bold;
  src: url("../../assets/fonts/ofont.ru_Tahoma.ttf") format("truetype");
}
@font-face {
  font-family: Billy;
  src: url("../../assets/fonts/BillyBolt.ttf") format("truetype");
}

.footerBg {
  width: 100%;
  height: 500px;
  background-image: url(../../assets/images/Footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: right;
  background-position-y: top;
  padding-right: 1px;
}

.follow > img {
  width: 14%;
}

.footerBg > h3 {
  font-family: "VAG Rounded Std Bold", "Tahoma Bold", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}
