.box {
  width: 76px;
  height: 76px;
  background-color: #383a42;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.search {
  width: 350px;
  border-radius: 20px;
  padding-left: 10px;
}

.searchHid {
  position: absolute;
  z-index: 4;
}

.substr{
    white-space: nowrap;
    overflow: ;
}