@import "../../../assets/styles/variables.scss";

@font-face {
  font-family: "vag-rounded-std-bold";
  src: url("../../../assets/fonts/VAGRoundedStd-Bold.otf") format("truetype");
}

@font-face {
  font-family: meka;
  src: url("../../../assets/fonts/BrabionU-Medium.ttf") format("truetype");
}

@font-face {
  font-family: tahoma-bold;
  src: url("../../../assets/fonts/ofont.ru_Tahoma.ttf") format("truetype");
}
@font-face {
  font-family: Billy;
  src: url("../../../assets/fonts/BillyBolt.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

.box {
  width: 176px;
  height: 176px;
  background-color: #383a42;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 60px;
}

.boxH2 {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: $color-blue1;
  margin-top: 10px;
  font-weight: bold;
  font-size: 17px;
}

.boxP {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: $color-red;
}

.bigBox {
  background-color: #fff !important;
}

.swiperTitle {
  font-family: Billy, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: $color-green;
  white-space: normal !important;
  padding-top: 50px;
}
