@import "../../assets/styles/variables.scss";

@font-face {
  font-family: "vag-rounded-std-bold";
  src: url("../../assets/fonts/VAGRoundedStd-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: tahoma-bold;
  src: url("../../assets/fonts/ofont.ru_Tahoma.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.alsoLikeBg {
  height: 700px;
  background-image: url("../../assets/images/alsoLikeBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 100px;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.h2 {
  width: 445px;
  height: 75px;
  background-image: url("../../assets/images/h2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;

  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif !important;;
  font-style: normal;
  font-size: 22px;
  line-height: 62px;

  text-align: center;
  letter-spacing: 1.04px;
  text-transform: capitalize;
  color: #ffffff;
}

.table {
  border: 5px solid #E9F7FF;
  color: $color-blue1;
}

.box {
  width: 176px;
  height: 176px;
  background-color: #383a42;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.cradlesBox{
  width: 50px;
  text-align: center;
  color: $color-blue1;
  caret-color: $color-blue1;
  
}