.alsoLikeBg{
    height: 700px;
    background-image: url("../../assets/images/alsoLikeBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 100px;
    z-index: 0;
}

.h2{
    background-image: url("../../assets/images/alsoLikeBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}