.alsoLikeBg {
  height: 700px;
  background-image: url("../../assets/images/alsoLikeBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 100px;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.h2 {
  width: 445px;
  height: 75px;
  background-image: url("../../assets/images/h2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 62px;

  text-align: center;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  color: #ffffff;
}
