@import "../../assets/styles/variables.scss";

@font-face {
  font-family: "vag-rounded-std-bold";
  src: url("../../assets/fonts/VAGRoundedStd-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: tahoma-bold;
  src: url("../../assets/fonts/ofont.ru_Tahoma.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.bgColor {
  background-color: $color-blue !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.linkStyle {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif !important;
  font-size: 26px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff !important;
}

.headerUl1 {
  min-height: 105px;
  display: flex;
  align-items: center;
}

.search > input {
  width: 350px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.search > button {
  color: #fff;
  border-color: #fff;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-left-color: rgba(255, 255, 255, 0);
}

.search > button:hover {
  background-color: #fff !important;
  color: #0d5d9c !important;
}

.language {
  min-height: 40px;
  margin-top: 10px;
  color: #0d5d9c;
  background-image: url("../../assets/images/Flag_of_Armenia.png");
}

.am {
  min-height: 40px;
  margin-top: 10px;
  color: #0d5d9c;
  background-image: url("../../assets/images/Flag_of_Armenia.png");


  display: block;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  appearance: none;
}

.ru {
  min-height: 40px;
  margin-top: 10px;
  color: #0d5d9c;
  background-image: url("../../assets/images/Flag_of_Russia.png");
}

.en {
  min-height: 40px;
  margin-top: 10px;
  color: #0d5d9c;
  background-image: url("../../assets/images/Flag_of_the_United_States.png");
}

.bgColor1 {
  background-color: $color-blue1 !important;
  height: 60px !important;
  margin-top: 86px;
}

.linkStyle1 {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif !important;
  font-size: 26px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff !important;
}

.headerUl1 {
  min-height: 70px;
  display: flex;
  align-items: center;
}

.linkStyle1 {
  border-radius: 23px;
  transition: 0.5s;
}
.linkStyle1:hover {
  color: #407ec9 !important;
  background-color: #fff;
  transition: 0.5s;
}

.delivery {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif !important;
  font-size: 26px;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-align: center;
}

.dropdownBlock {
  display: none;
}

.dropdownLi:hover .dropdownBlock {
  display: block;
}

@media only screen and (max-width: 640px) {
  .search > input {
    width: 250px;
    height: 38px;
  }
  .dropdownLi > a,
  .linkStyle1 {
    font-family: vag-rounded-std-bold, tahoma-bold, sans-serif !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff !important;
  }
  .dropdownBlock > li {
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: #212529 !important;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
}

@import "../../assets/styles/variables.scss";

@font-face {
  font-family: "vag-rounded-std-bold";
  src: url("../../assets/fonts/VAGRoundedStd-Bold.otf") format("truetype");
}

@font-face {
  font-family: meka;
  src: url("../../assets/fonts/BrabionU-Medium.ttf") format("truetype");
}

@font-face {
  font-family: tahoma-bold;
  src: url("../../assets/fonts/ofont.ru_Tahoma.ttf") format("truetype");
}
@font-face {
  font-family: Billy;
  src: url("../../assets/fonts/BillyBolt.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

.bigBox {
  background-color: #fff !important;
  padding-bottom: 588px;
}

.bigbigBox {
  background-image: url("../../assets/images/hp-season-of-wonder-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 1200px) {
  .bigBox {
    max-width: 1140px;
  }
}

////////////////////////////////////////

.basketButton {
  width: 140px;
  min-height: 50px;
  background: $color-green;
  border-radius: 10px;
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  border: none;
  font-size: 16px;
  transition: 0.5s;
}

.basketButton:hover {
  background: $color-red;
  transition: 0.5s;
}

