@import "../../assets/styles/variables.scss";

@font-face {
  font-family: "vag-rounded-std-bold";
  src: url("../../assets/fonts/VAGRoundedStd-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: tahoma-bold;
  src: url("../../assets/fonts/ofont.ru_Tahoma.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Claire-Hand-bold;
  src: url("../../assets/fonts/ClaireHandBold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Helvetica;
  src: url("../../assets/fonts/Helvetica.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


.boxImageChange {
  width: 457px;
  height: 457px;
}

.box1 {
  width: 74px;
  height: 74px;
  background-color: #383a42;
  border: none;
  border-radius: 9.34px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
}

.box1:hover {
  border: none;
  cursor: pointer;
}

.imageChangeBtn {
  width: 74px;
  height: 74px;
  background-color: #383a4200;
  border: 3.74px solid #eaeaea;
  border-radius: 9.34px;
}

.imageChangeBtn:hover {
  background-color: #383a4200;
  border: 3.74px solid red !important;
  border-radius: 9.34px;
}

.swiperTitle {
  font-family: Billy, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: green;
  white-space: normal !important;
  padding-top: 50px;
}

.itemName {
  margin: 20px 0 !important;
  text-align: center;
  font-size: 16px;
  color: #444;
}

.itemName > div > div {
  margin-left: 0 !important;
}

.name {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 1.04px;
  color: #407ec9;
}

.rightBox p {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #407ec9;
}

.rightBox h3 {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #323232;
}

.rightBox h4 {
  font-family: vag-rounded-std-bold, tahoma-bold, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: red;
}

.basketButtonUp {
  width: 200px;
  height: 60px;
}

.cradlesBox {
  width: 210px;
  height: 50px;
  border: 3.74px solid #eaeaea;
  border-radius: 9.34px;
}

.saveBasket {
  min-width: 210px;
  min-height: 50px;
  background-color: $color-green;
}

.saveBasket:hover {
  background-color: $color-red !important;
}


//Section 2



.alsoLikeBg {
  height: 700px;
  background-image: url("../../assets/images/alsoLikeBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 100px;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.h2 {
  width: 445px;
  height: 75px;
  background-image: url("../../assets/images/h2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  
  font-family:  Claire-Hand-bold, vag-rounded-std-bold, Arial, Helvetica, sans-serif !important;;
  font-style: normal;
  font-size: 28x;
  line-height: 62px;
  
  text-align: center;
  letter-spacing: 7.04px;
  text-transform: capitalize;
  color: #ffffff;
}

.section3Bigbox{
  background-color: #F8F8F8;
}






//Toy stars

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$hue: 223;
$starHue: 38;

:root {
	--bg: #{hsl($hue, 10%, 90%)};
	--fg: #{hsl($hue, 10%, 10%)};
	--primary: #{hsl($hue, 90%, 55%)};
	--yellow: #{hsl($starHue, 90%, 55%)};
	--yellow-t: #{hsla($starHue, 90%, 55%, 0)};
	--bezier: cubic-bezier(0.42, 0, 0.58, 1);
	--trans-dur: 0.3s;
	font-size: calc(24px + (30 - 24) * (100vw - 320px) / (1280 - 320));
}
body {
	background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 "DM Sans", sans-serif;
	display: flex;
	height: 100vh;
	transition: background-color var(--trans-dur), color var(--trans-dur);
}

.rating {
	margin: auto;

	&__display {
		font-size: 1em;
		font-weight: 500;
		min-height: 1.25em;
		position: absolute;
		top: 100%;
		width: 100%;
		text-align: center;
	}
	&rating__stars {
		display: flex;
		padding-bottom: 0.375em;
		position: relative;
	}
	&rating__star {
		display: block;
		overflow: visible;
		pointer-events: none;
		width: 2em;
		height: 2em;

		&_ring,
		&fill,
		&line,
		&stroke {
			animation-duration: 1s;
			animation-timing-function: ease-in-out;
			animation-fill-mode: forwards;
		}
		&-ring,
		&-fill,
		&-line {
			stroke: var(--yellow);
		}
		&-fill {
			fill: var(--yellow);
			transform: scale(0);
			transition: fill var(--trans-dur) var(--bezier),
				transform var(--trans-dur) var(--bezier);
		}
		&-stroke {
			stroke: hsl($hue, 10%, 80%);
			transition: stroke var(--trans-dur);
		}
	}
	&__label {
		cursor: pointer;
		padding: 0.125em;
	}
	@for $s from 1 through 4 {
		&__label--delay#{$s} &__star_ring,
		&__label--delay#{$s} &__star_fill,
		&__label--delay#{$s} &__star_line,
		&__label--delay#{$s} &__star_stroke {
			animation-delay: 0.05s * $s;
		}
	}
	&__input {
		-webkit-appearance: none;
		appearance: none;
	}
	// display
	&__input:hover ~ [data-rating]:not([hidden]) {
		display: none;
	}

	&__input_1:hover ~ [data-rating="1"][hidden],
	&__input_2:hover ~ [data-rating="2"][hidden],
	&__input_3:hover ~ [data-rating="3"][hidden],
	&__input_4:hover ~ [data-rating="4"][hidden],
	&__input_5:hover ~ [data-rating="5"][hidden],
	&__input:checked:hover ~ [data-rating]:not([hidden]) {
		display: block;
	}
	// stars
	&__input_1:hover ~ &__label:first-of-type &__star_stroke,
	&__input_2:hover ~ &__label:nth-of-type(-n + 2) &__star_stroke,
	&__input_3:hover ~ &__label:nth-of-type(-n + 3) &__star_stroke,
	&__input_4:hover ~ &__label:nth-of-type(-n + 4) &__star_stroke,
	&__input_5:hover ~ &__label:nth-of-type(-n + 5) &__star_stroke {
		stroke: var(--yellow);
		transform: scale(1);
	}
	&__input_1:checked ~ &__label:first-of-type &__star_ring,
	&__input_2:checked ~ &__label:nth-of-type(-n + 2) &__star_ring,
	&__input_3:checked ~ &__label:nth-of-type(-n + 3) &__star_ring,
	&__input_4:checked ~ &__label:nth-of-type(-n + 4) &__star_ring,
	&__input_5:checked ~ &__label:nth-of-type(-n + 5) &__star_ring {
		animation-name: starRing;
	}
	&__input_1:checked ~ &__label:first-of-type &__star_stroke,
	&__input_2:checked ~ &__label:nth-of-type(-n + 2) &__star_stroke,
	&__input_3:checked ~ &__label:nth-of-type(-n + 3) &__star_stroke,
	&__input_4:checked ~ &__label:nth-of-type(-n + 4) &__star_stroke,
	&__input_5:checked ~ &__label:nth-of-type(-n + 5) &__star_stroke {
		animation-name: starStroke;
	}
	&__input_1:checked ~ &__label:first-of-type &__star_line,
	&__input_2:checked ~ &__label:nth-of-type(-n + 2) &__star_line,
	&__input_3:checked ~ &__label:nth-of-type(-n + 3) &__star_line,
	&__input_4:checked ~ &__label:nth-of-type(-n + 4) &__star_line,
	&__input_5:checked ~ &__label:nth-of-type(-n + 5) &__star_line {
		animation-name: starLine;
	}
	&__input_1:checked ~ &__label:first-of-type &__star_fill,
	&__input_2:checked ~ &__label:nth-of-type(-n + 2) &__star_fill,
	&__input_3:checked ~ &__label:nth-of-type(-n + 3) &__star_fill,
	&__input_4:checked ~ &__label:nth-of-type(-n + 4) &__star_fill,
	&__input_5:checked ~ &__label:nth-of-type(-n + 5) &__star_fill {
		animation-name: starFill;
	}
	&__input_1:not(:checked):hover ~ &__label:first-of-type &__star_fill,
	&__input_2:not(:checked):hover ~ &__label:nth-of-type(2) &__star_fill,
	&__input_3:not(:checked):hover ~ &__label:nth-of-type(3) &__star_fill,
	&__input_4:not(:checked):hover ~ &__label:nth-of-type(4) &__star_fill,
	&__input_5:not(:checked):hover ~ &__label:nth-of-type(5) &__star_fill {
		fill: var(--yellow-t);
	}
	// screen reader text
	&__sr {
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		position: absolute;
		width: 1px;
		height: 1px;
	}
}

// Dark theme
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #{hsl($hue, 10%, 10%)};
		--fg: #{hsl($hue, 10%, 90%)};
	}
	.rating {
		margin: auto;

		&__star {
			&-stroke {
				stroke: hsl($hue, 10%, 30%);
			}
		}
	}
}

// Animations
@keyframes starRing {
	from,
	20% {
		animation-timing-function: ease-in;
		opacity: 1;
		r: 8px;
		stroke-width: 16px;
		transform: scale(0);
	}
	35% {
		animation-timing-function: ease-out;
		opacity: 0.5;
		r: 8px;
		stroke-width: 16px;
		transform: scale(1);
	}
	50%,
	to {
		opacity: 0;
		r: 16px;
		stroke-width: 0;
		transform: scale(1);
	}
}
@keyframes starFill {
	from,
	40% {
		animation-timing-function: ease-out;
		transform: scale(0);
	}
	60% {
		animation-timing-function: ease-in-out;
		transform: scale(1.2);
	}
	80% {
		transform: scale(0.9);
	}
	to {
		transform: scale(1);
	}
}
@keyframes starStroke {
	from {
		transform: scale(1);
	}
	20%,
	to {
		transform: scale(0);
	}
}
@keyframes starLine {
	from,
	40% {
		animation-timing-function: ease-out;
		stroke-dasharray: 1 23;
		stroke-dashoffset: 1;
	}
	60%,
	to {
		stroke-dasharray: 12 12;
		stroke-dashoffset: -12;
	}
}


